* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(255, 253, 110);
    --secondary-color: rgb(0, 0, 0);
}

.Dark-theme {
    --primary-color: rgb(45, 34, 94);
    --secondary-color: rgb(255, 255, 255);

}


.container {
    display: flex;
    height: 100vh;
    background-color: var(--primary-color);
    transition:background-color 0.5s;
}

.toggle {
    margin:  auto;
}

button {
    height:130px;
    width:240px;
    border-radius: 65px;
    background-color: rgb(255, 255, 255);
    border:none;
    cursor: pointer;
}
#icon {
    height: 80px;
    width:  80px;
    margin-right: 100px;
    transition: margin 0.5s;
}

.night img {
    margin-left: 130px;
    transition: margin 0.5s;
}


footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 2.5rem; 
    text-align: center;
    color:var(--secondary-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}